.box1 { grid-area: box1; }
.box2 { grid-area: box2; }
.box3 { grid-area: box3; }
.box4 { grid-area: box4; }

.grid-container {
  display: grid;
  grid-template-areas:
    'box1 box1 box1 box1 box1 box1 box1'
    'box2 box2 box3 box3 box3 box3 box3'
    'box2 box2 box3 box3 box3 box3 box3'
    'box2 box2 box3 box3 box3 box3 box3';
  grid-gap: 10px; 
  background-color: white; 
  padding: 10px;
}

.grid-container > .box1 {
  background-color: black;
  padding: 70px 0px; 
  
}
.grid-container > .box2 {
    background-color: black;
    padding: 200px 0; 
}
.grid-container > .box3 {
    background-color: black;
    padding: 300px 0px; 
}

.grid-container > .box4 {
    background-color: black;
    padding: 200px 0px; 
}